button {
  cursor: pointer;
  border: 1px solid #f2e8cf;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f2e8cf;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid #fa9500;
}

button:hover {
  background-color: #bd543e;
  color: #f2e8cf;
}

button:active {
 transform: scale(0.98);
}

button:disabled {
  opacity: 0.6;
}

