button {
  cursor: pointer;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f2e8cf;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 2px solid #bd543e;
  color: black;
  font-weight: bolder;
  font-size: medium;
}

button:hover {
  background-color: #bd543e;
  color: #f2e8cf;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  background-color: #302e2eff;
  color: #f2e8cf;
  opacity: 0.6;
  cursor: auto;
}
