.btn {
  cursor: pointer;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: medium;
}

.btn-fill {
  background-color: var(--app-orange-dark);
  border: 2px solid var(--app-orange-dark);
  color: var(--app-white-dirty);
}

.btn-fill:hover {
  background-color: var(--app-orange-light);
  color: var(--app-black);
}

.btn-fill:active {
  transform: scale(0.98);
}

.btn-outline {
  border: 3px solid var(--app-orange-dark);
  color: var(--app-orange-dark);
}

.btn-outline:hover {
  color: var(--app-black);
  border: 3px solid var(--app-black);
}

.btn-outline:active {
  transform: scale(0.98);
}

.btn-ghost {
  border: none;
  background: none;
  color: var(--app-orange-dark);
  font-weight: bold;
}

.btn-ghost:hover {
  color: var(--app-black);
  transform: scale(0.98);
}

.btn-ghost:active {
  transform: scale(0.98);
}
