:host {
  .recipe-overview {
    &__header {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      align-items: center;
    }
    &__img {
      width: 50%;
      height: 30rem;
      background-size: cover;
      background-position: center;
      border-radius: 1.25rem;
      border: 1px solid var(--app-white);
    }
    &__summary {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      h2 {
        color: var(--app-red);
        font-size: xxx-large;
      }
    }
    &__data {
      display: flex;
      flex-direction: row;
      width: 60%;

      > span {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;

        p {
          margin: 0;
        }

        .value {
          font-weight: bolder;
        }
      }

      &-item--servings {
        background-color: #f0cac2ff;
      }
      &-item--time {
        background-color: #dca69a;
      }
      &-item--difficulty {
        background-color: #bc6c5cff;
      }
    }
    &__body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2rem;
      gap: 1rem;

      h2 {
        color: var(--app-red);
      }
    }

    &__ingredients {
      border: 5px solid var(--app-orange);
      border-radius: 1.25rem;
      padding: 1rem;

      .ingredient {
        display: flex;
      }
    }

    &__instructions {
      border: 5px solid var(--app-orange);
      border-radius: 1.25rem;
      padding: 1rem;
    }
  }

  @media (max-width: 768px) {
    .recipe-overview {
      &__img {
        width: 25rem;
      }

      &__data {
        width: 25rem;
      }

      &__body {
        grid-template-columns: 1fr;
      }
    }
  }
}
