<section class="recipe-overview__header">
  <div class="recipe-overview__img" [style.background-image]="recipeBg()"></div>
  <div class="recipe-overview__summary">
    <h2>{{ recipe()?.name }}</h2>
    <div class="recipe-overview__data">
      <span class="recipe-overview__data-item--servings">
        <mat-icon>incomplete_circle</mat-icon>
        <p>RACIONES:</p>
        <p class="value">{{ recipe()?.servings }} PORCIONES</p>
      </span>
      <span class="recipe-overview__data-item--time">
        <mat-icon>timelapse</mat-icon>
        <p>TIEMPO TOTAL:</p>
        <p class="value">{{ recipe()?.prepTimeMinutes }} MINUTOS</p>
      </span>
      <span class="recipe-overview__data-item--difficulty">
        <mat-icon>equalizer</mat-icon>
        <p>DIFICULTAD:</p>
        <p class="value">
          {{ getDifficultyLevel(recipe()?.difficultyLevel) }}
        </p>
      </span>
    </div>
  </div>
</section>
<section class="recipe-overview__body">
  <div class="recipe-overview__ingredients">
    <h2>Ingredientes:</h2>
    @for(item of recipe()?.ingredients; track $index; let i = $index ){
    <div class="ingredient">
      <p>{{ i + 1 }}- {{ item.name }}.</p>
      <p>Cantidad: {{ item.quantity }}</p>
    </div>
    }
  </div>
  <div class="recipe-overview__instructions">
    <h2>Pasos a seguir:</h2>
    @for(item of recipe()?.instructions; track $index; let i = $index ){
    <div class="recipe-overview__instruction">
      <p>Paso {{ i + 1 }}: {{ item }}</p>
    </div>
    }
  </div>
</section>
