<app-ui-recipes-filters
  (searchUpdated)="onSearchUpdated($event)"
></app-ui-recipes-filters>

<app-ui-recipes-list
  [isSearchActive]="isSearchActive()"
  [activeRecipes]="activeRecipes"
  (recipeSelected)="onSelectedRecipe($event)"
></app-ui-recipes-list>

<app-modal [isOpen]="isModalOpen()" (closeModal)="onCloseModal()">
  <ng-container ModalHeader>
    <div class="graphic-element"></div>
  </ng-container>

  <ng-container ModalContent>
    <h2>{{ selectedRecipe()?.name }}</h2>
    <h3>Ingredientes:</h3>
    <section class="ingredients-list">
      @for (ingredient of selectedRecipe()?.ingredients; track ingredient;) {
      <h3>{{ ingredient.name }}</h3>
      }
    </section>
    <mat-expansion-panel
      (opened)="isInstructionsPanelOpen.set(true)"
      (closed)="isInstructionsPanelOpen.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ `Cómo hacer ${this.selectedRecipe()?.name}` }}</mat-panel-title
        >
      </mat-expansion-panel-header>
      <section class="instructions-list">
        @for (instruction of selectedRecipe()?.instructions; track instruction;)
        {
        <h3>{{ instruction }}</h3>
        }
      </section>
    </mat-expansion-panel>
  </ng-container>

  <ng-container ModalActions>
    <button (click)="onCloseModal()">Cerrar</button>
    <button (click)="onSeeMoreDetailsClicked()">Ver más detalles</button>
  </ng-container>
</app-modal>
