:host {
  .recipe-create__background-img--1 {
    position: absolute;
    background-image: url("/assets/hat.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20rem;
    min-height: 20rem;
    bottom: 4rem;
    left: 2rem;
    opacity: 0.4;
  }

  .recipe-create__background-img--2 {
    position: absolute;
    background-image: url("/assets/pot.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20rem;
    min-height: 20rem;
    bottom: 10rem;
    right: 5rem;
    opacity: 0.4;
    transform: rotate(20deg);
  }

  .recipe-create__background-img--3 {
    position: absolute;
    background-image: url("/assets/salt.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 15rem;
    min-height: 20rem;
    top: 50rem;
    right: 5rem;
    opacity: 0.4;
    transform: rotate(60deg);
  }

  .recipe-create__background-img--4 {
    position: absolute;
    background-image: url("/assets/pasta.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30rem;
    min-height: 20rem;
    top: 5rem;
    left: 1rem;
    opacity: 0.3;
    transform: rotate(10deg);
  }

  @media (max-width: 1200px) {
    .recipe-create__background-img--1,
    .recipe-create__background-img--2,
    .recipe-create__background-img--3,
    .recipe-create__background-img--4 {
      display: none;
    }
  }
}
