:host {
  .card-group {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1rem;
    max-width: calc(4 * 250px + 3 * 1rem);
    margin: 0 auto;
  }

  @media (min-width: 640px) {
    .card-group {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .card-group {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1280px) {
    .card-group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

::ng-deep {
  .card__header {
    .card__actions {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 2;

      button {
        padding: 0.25rem;
        border-radius: 0.5rem;
        background: #f2e8cf;
        border: 1px solid #6b6665ff;
      }

      .mat-icon {
        font-size: 1.5rem;
        color: #ae2e13;
      }
    }
  }

  .card__body {
    z-index: 2;
    margin-top: 5rem;

    .card__title {
      color: #ae2e13;
      border-radius: 0.5rem;
      background-color: #f2e8cf;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .card__footer {
    .card__data {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 9rem;

      span {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
      }

      .p1 {
        background-color: #f0cac2ff;
      }
      .p2 {
        background-color: #dca69a;
      }
      .p3 {
        background-color: #bc6c5cff;
      }
    }
  }
}
