<form [formGroup]="filtersForm">
  <section class="recipe-filters__wrapper">
    <div class="recipe-filters__search-wrapper">
      <div class="recipe-filters__filter-header">
        <span class="recipe-filters__value">
          <app-button
            [type]="'outline'"
            [label]="'Buscar receta o ingrediente'"
            [matMenuTriggerFor]="search"
            #menuTrigger="matMenuTrigger"
          ></app-button>
          @if(!!searchEntry()) {
          {{ searchEntry() }}
          }
        </span>
      </div>
      <mat-menu #search="matMenu" class="recipe-filters__menu--search">
        <div mat-menu-content (click)="$event.stopPropagation()">
          <div class="close-button-section">
            <button (click)="menuTrigger.closeMenu()" class="close-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <p>Ingresa el término a buscar:</p>
          <fieldset class="recipe-filters__search-fieldset">
            <input
              aria-expanded="true"
              placeholder="Ejemplo: canelones o tomate"
              class="recipe-filters__search-input"
              formControlName="searchEntry"
            />
          </fieldset>
          <div class="recipe-filters__search-actions">
            <app-button
              [label]="'Borrar'"
              (clickOutput)="onRemoveSearchFilter()"
            ></app-button>
          </div>
        </div>
      </mat-menu>
    </div>

    <div class="recipe-filters__filters-wrapper">
      <div class="recipe-filters__filter-header">
        <span class="recipe-filters__value">
          <app-button
            [type]="'outline'"
            [label]="'Tiempo de preparación'"
            [matMenuTriggerFor]="time"
            #menuTrigger="matMenuTrigger"
          ></app-button>
          @if(!!prepTimeRange()) {
          {{ prepTimeRangeLabel }}
          }
        </span>
      </div>
      <mat-menu #time="matMenu" class="recipe-filters__menu--time">
        <mat-radio-group
          formControlName="prepTimeRange"
          class="recipe-filters__filters-radio-group"
        >
          <mat-radio-button [value]="PrepTimeRange.QUICK"
            >Rápido</mat-radio-button
          >
          <mat-radio-button [value]="PrepTimeRange.NORMAL"
            >30-40 minutos</mat-radio-button
          >
          <mat-radio-button [value]="PrepTimeRange.CHEFMODE"
            >Modo chef</mat-radio-button
          >
        </mat-radio-group>
      </mat-menu>
    </div>

    <div class="recipe-filters__select-and-actions">
      <div class="recipe-filters__select-wrapper">
        <div class="recipe-filters__filter-header">
          <span class="recipe-filters__value">
            <app-button
              [type]="'outline'"
              [label]="'Dificultad'"
              [matMenuTriggerFor]="difficulty"
              #menuTrigger="matMenuTrigger"
            ></app-button>
            @if(!!difficultyLevel()) {
            {{ difficultyLevelLabel }}
            }
          </span>
        </div>
        <mat-menu
          #difficulty="matMenu"
          class="recipe-filters__menu--difficulty"
        >
          <button
            mat-menu-item
            (click)="onSetDifficultyLevel(DifficultyLevel.LOW)"
          >
            Fácil
          </button>
          <button
            mat-menu-item
            (click)="onSetDifficultyLevel(DifficultyLevel.MEDIUM)"
          >
            Media
          </button>
          <button
            mat-menu-item
            (click)="onSetDifficultyLevel(DifficultyLevel.HIGH)"
          >
            Alta
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="recipe-filters__filter-actions">
      <app-button
        [type]="'ghost'"
        [label]="'Borrar filtros'"
        [isDisabled]="filtersForm.pristine || !filtersForm.valid"
        (clickOutput)="onRemoveFiltersClicked()"
      ></app-button>
    </div>
  </section>
</form>
