:host {
  .recipe-favourites {
    &__header {
      display: flex;
      justify-content: center;
      font-size: x-large;
      color: #ae2e13;
      margin-bottom: 1rem;
    }

    &__empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: medium;

      &--img {
        background-image: url("/assets/empty-state.png");
        background-size: cover;
        background-position: center;
        width: 25rem;
        height: 25rem;
      }

      &--msg {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
