:host {
  .card-group {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1rem;
    max-width: calc(4 * 250px + 3 * 1rem);
    margin: 0 auto;
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;

    .empty-state-img {
      background-image: url("/assets/empty-state.png");
      background-size: cover;
      background-position: center;
      width: 25rem;
      height: 25rem;
    }

    .message {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 640px) {
    .card-group {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .card-group {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1280px) {
    .card-group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

::ng-deep {
  .card__header {
    .card__actions {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 2;

      button {
        padding: 0.25rem;
        border-radius: 0.5rem;
        background: var(--app-background-color);
        border: 1px solid var(--app-grey-light);
      }

      .mat-icon {
        font-size: 1.5rem;
        color: var(--app-red);
      }
    }
  }

  .card__body {
    z-index: 2;
    margin-top: 5rem;

    .card__title {
      color: var(--app-red);
      border-radius: 0.5rem;
      background-color: var(--app-background-color);
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0.5rem;
    }
  }

  .card__footer {
    .card__data {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 9rem;

      .value {
        font-weight: bold;
      }

      span {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
      }

      .recipe-modal__summary-servings {
        background-color: #f0cac2ff;
      }
      .recipe-modal__summary-time {
        background-color: #dca69a;
      }
      .recipe-modal__summary-difficulty {
        background-color: #bc6c5cff;
      }
    }
  }
}
