:host {
  position: relative;
  display: block;
  overflow: hidden;
  height: 25rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--card-bg-image);
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease;
    z-index: 0;
  }

  &.card {
    border: 1px solid var(--app-white-dirty);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 1.25rem;
    position: relative;
    z-index: 1;

    .card__header,
    .card__footer {
      position: relative;
      z-index: 1;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  &.card--interactive {
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);

      &:hover::before {
        opacity: 0.5;
      }
    }
  }
}
