:host {
  .section-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 0.875rem;
    border: 5px solid #dca69a;
    padding: 1.5rem;
    margin: 1rem;

    .search-wrapper {
       flex: 1;
      .search-fieldset {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border-radius: 0.875rem;
        height: 2.75rem;
        transition: all 0.25s ease-out;

        .search-input {
          all: unset;
          display: flex;
          width: 100%;
          color: #31434f;

          &::placeholder,
          &::-webkit-input-placeholder {
            color: #89929e;
          }
        }
      }
    }

    .filters-wrapper {
      display: flex;
      flex-direction: column;
    }

    .select-and-actions {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;
      flex: 1; 

      .filter-actions {
        margin-top: auto;
        align-self: flex-end;
      }
    }
  }

  @media (max-width: 768px) {
    .section-wrapper {
      flex-direction: column;
    }
  }
}

::ng-deep mat-radio-button {
  margin-right: 1rem;

  .mat-radio-label-content {
    font-size: 0.9rem;
    color: #31434f;
  }
}

::ng-deep mat-select {
  border: 1px solid #89929e;
  border-radius: 0.875rem;
  height: 1.5rem;
  padding: 0.5rem;
}
