.editable-details {
  .editable-details__header {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .editable-details__img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img-box {
        width: 50%;
        height: 30rem;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transition: all 0.3s ease;
        background-size: cover;
        background-position: center;
        border-radius: 1.25rem;
        border: 5px solid #bc6c5cff;

        .overlay {
          display: none;
          margin-bottom: 15rem;
          background-color: #e8ebef;
          padding: 2rem;
          border-radius: 1.25rem;
          border: 1px solid #e8ebef;

          input {
            margin-top: 1rem;
          }
        }
      }

      .img-box:hover {
        transform: scale(1.02);

        .overlay {
          display: block;
          input {
            width: 100%;
          }
        }
      }
    }

    .editable-details__summary {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 2rem 0rem;

      .editable-details__fieldset-data {
        display: flex;
        margin-top: 2rem;
        gap: 2rem;
      }
    }
  }

  .editable-details__body {
    display: flex;
    padding: 2rem;
    gap: 1rem;

    .editable-fields__textarea-ingredients {
      border: 5px solid #bc6c5cff;
      border-radius: 1.25rem;
      padding: 1rem;
      width: 100%;

      .ingredient-row {
        display: flex;
        gap: 1rem;
      }

      h3 {
        color: #ae2e13;
        font-size: large;
      }

      .ingredient-input {
        flex: 3;
      }

      .quantity-input {
        flex: 1;
      }
    }

    .editable-fields__textarea-instructions {
      border: 5px solid #bc6c5cff;
      border-radius: 1.25rem;
      padding: 1rem;
      width: 100%;

      h3 {
        color: #ae2e13;
        font-size: large;
      }

      .instruction-row {
        display: flex;
        flex: 1 1 auto;
        gap: 1rem;

        mat-form-field {
          width: 100%;
        }

        input {
          width: 100%;
        }
      }
    }
  }

  input {
    all: unset;
    display: flex;
    color: #31434f;

    &::placeholder,
    &::-webkit-input-placeholder {
      color: #89929e;
    }
  }

  fieldset {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 0.875rem;
    height: 2.75rem;
    transition: all 0.25s ease-out;
  }

  .error {
    color: #b02e14ff;
    margin: 5px;
  }

  .submit-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      cursor: pointer;
      background-color: transparent;
      border: transparent;
      color: #b02e14ff;
      margin-right: 1.5rem;
      transition: transform 0.3s ease;
    }

    button:hover {
      text-decoration: underline;
      transform: scale(1.1);
    }
  }

  @media (max-width: 768px) {
    .editable-details__header {
      .editable-details__img {
        .img-box {
          width: 25rem;
        }
      }
      .editable-details__summary {
        margin: 1rem;

        .editable-details__fieldset-data {
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }
    .editable-details__body {
      flex-direction: column;
      margin-right: 1.5rem;
    }
  }
}

::ng-deep {
  mat-icon {
    color: #b02e14be;
  }
}
