@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  --app-red: #ae2e13;
  --app-orange: #bc6c5cff;
  --app-orange-light: #dca69a;
  --app-orange-dark: #bd543e;
  --app-white: #fffaf8;
  --app-white-dirty: #e8ebef;
  --app-black: #2b2c2cff;
  --app-grey: #31434f;
  --app-grey-light: #89929e;
  --app-disabled-color: #595f66a6;
  --app-background-color: #f2e8cf;
  --app-navbar-bg: #ecded6;
  --app-border-radius: 0.875rem;
}

html, body { height: 100%; }
body { 
  color-scheme: light;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
